body{
   font: 400 15px/1.8 Lato, sans-serif;
   color: rgb(119, 119, 119);
   scroll-behavior: smooth;
}
p{
	font-size: 18px;
	margin-left:10px;
	margin-right:10px;
	color: #111;
}

h3{
	font-size: 40px;
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    color: #111;
}

h5{
	margin: 10px 0 10px 0;
	font-weight: 600;
    letter-spacing: 2px;   
    font-size: 22px;
    color: #111;
}

figure{
  width: 200px;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
}

#Lyrics{
	margin-top: 20px;
}
.container {
    padding: 80px 120px;
}
 
.person {
    margin-bottom: 25px;
    width: 40%;
    height: 40%;
    opacity: 0.9;
    box-shadow: 3px 3px 4px #808080;
    transition: 300ms linear;
}

.person:hover {
    border-color: #f1f1f1;
    transform: scale(1.1);
	transition: 300ms linear;
}

.carousel-inner img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;

}

#myCarousel .carousel .carousel-item .item{
    transition-duration: 5s;
}

#carousel-inner-pictures img{
    filter: grayscale(20%); 
    width: 100%; /* make all photos black and white */ 
    position: relative;
  	overflow: hidden;
  	transition-duration: 5s;

}

.carousel-inner-pictures::after {
  display: block;
  clear: both;
  content: "";
}
.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 800px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
	}	
}

@media (max-width: 800px) {
    #nav-quotes li{
	 width: 25%	 
}
}

@media (min-width: 801px){
	#nav-quotes li{
	 font-size: 18px;
	 width: 8.33%;

}

#carousel-inner-pictures{
	width:80%;
	margin:auto;
}
#container-pictures{
	background-color: #fff;
	padding: 80px 120px;
}

#container-connect{
	background-color: #fff;
	padding: 80px 120px;
}

.img-quotes{
	border-radius: 10px;
	box-shadow: 1px 1px 2px #808080;
	width :30%;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iconTwitter-bar{
	position: fixed;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.twitter {
  background: #55ACEE;
  color: white;
}
}

#connectGif{
	width: 50%;
}

@media(max-width: 800px){
	.img-quotes{
	border-radius: 10px;
	box-shadow: 1px 1px 2px #808080;
	width :80%;
}

#carousel-inner-pictures{
	width: 100%;
	margin:auto;
}

.modal-header, .modal-body {
    padding: 20px 30px;
}

#container-pictures{
	background-color: #fff;
	padding: 80px 0px;
}

#container-connect{
	background-color: #fff;
	padding: 80px 0px;
}

#connectGif{
	width: 90%;
}

.person {
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.9;
}

.container {
    padding: 30px 20px;
}

.thumbnail img{
	width: 100%;
}

#TourDate {
	width: 95%;
}

#LouisTomlinsonInterview{
	width: 95%;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iconTwitter-bar{
	position: fixed;
}

/* Style the icon bar links */
.icon-bar a {
  display: ruby-base;
  text-align: center;
  padding: 7px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.twitter {
  background: #55ACEE;
  color: white;
}
}





#TourDate {
	width: 70%;
}

#TourInfo{
	font-size: 16px;
}

#container-pictures h3{
	color: #111;
}

#container-connect h3{
	color: #111;
}

#container-connect p {
	color: rgb(119, 119, 119);
	letter-spacing: 1px;
	font-style: normal;
}

#container-pictures p{
	color: rgb(119, 119, 119);
	letter-spacing: 1px;
}
#nav-quotes li{
	text-align: center;
	letter-spacing: 1px;  
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 h3 {color: #fff;}

.bg-1 p {
	color: #B3B6B7 ;
	letter-spacing: 1px; 
}


.list-group-item:first-child {
    border-top-right-radius: 5;
    border-top-left-radius: 5;
    margin-top: 30px;
}
.list-group-item{
	color: #777;
}

.list-group-item:last-child {
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 5;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    transition: 100ms linear;

 }

 .interview{
 	padding: 0 0 15px 0;
    border: none;
 }

.thumbnail:hover{
	border: none;
	transform: scale(1.05);
	transition: 200ms linear;
}


.thumbnail p {
    margin-top: 15px;
    color: #555;
}

#album li{
	font-size: 16px;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .1s;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
    font: 400 30px/1 Lato, sans-serif;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.modal-body{
	height: 400px;
	overflow: scroll;
	color: #111;
	text-align: center;
	font-size: 16px;

}

#Jan, #Feb, #Mar, #Apr, #May, #Jun, #Jul, #Aug, #Sep, #Oct, #Nov, #Dec{
	text-align: center;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}  

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: rgb(45, 45, 48);
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

#myNavbarInterview .navbar li a, .navbar .navbar-brand{
	color: #999;

}


.navbar li a, .navbar .navbar-brand { 
    color: #999 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #555 !important;
}

footer {
    background-color: #2d2d30;
    color: #0f5f5f5;
    padding: 32px;
    font-style: normal;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}  

footer p {
	color: #B3B6B7;
	letter-spacing: 1px; 
}


.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.btn a{
	color: #fff;
}

.btn:hover a{
    background-color: #fff;
    color: #000;
    transition: 0.1s;
    text-decoration: none;
    border: none;
}




