body{
   font: 400 15px/1.8 Lato, sans-serif;
   color: rgb(119, 119, 119);
}
p{
	font-size: 16px;
	margin-left:15px;
	margin-right:15px;
}
h3{
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}
h3{
	font-size: 30px;
}

h5{
	margin: 10px 0 10px 0;
	font-weight: 600;
    letter-spacing: 2px;   
    font-size: 20px;
    color: #111;
}

#Lyrics{
	margin-top: 20px;
}
.container {
    padding: 80px 120px;
}
 
.person {
    margin-bottom: 25px;
    width: 40%;
    height: 40%;
    opacity: 0.9;
    box-shadow: 3px 3px 4px #808080;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

#carousel-inner-pictures img{
    filter: grayscale(20%); 
    width: 100%; /* make all photos black and white */ 
    position: relative;
  	overflow: hidden;

}

.carousel-inner-pictures::after {
  display: block;
  clear: both;
  content: "";
}
.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 800px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
	}	
}

@media (max-width: 800px) {
    #nav-quotes li{
	 width: 25%	 
}
}

@media (min-width: 801px){
	#nav-quotes li{
	 font-size: 18px;
	 width: 8.33%;

}
}
@media (min-width: 801px){
#carousel-inner-pictures{
	width:80%;
	margin:auto;
}
#container-pictures{
	background-color: #fff;
	padding: 80px 120px;
}

}
@media(min-width: 801px){
	.img-quotes{
	border-radius: 10px;
	box-shadow: 1px 1px 2px #808080;
	width :30%;
}
}
@media(max-width: 800px){
	.img-quotes{
	border-radius: 10px;
	box-shadow: 1px 1px 2px #808080;
	width :80%;
}
}
@media (max-width: 800px){
#carousel-inner-pictures{
	width: 100%;
	margin:auto;
}

.modal-header, .modal-body {
    padding: 20px 30px;
}

#container-pictures{
	background-color: #fff;
	padding: 80px 0px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 90%;
    height: 90%;
    opacity: 0.9;
}

.container {
    padding: 30px 20px;
}

.thumbnail img{
	width: 100%;
}

#TourDate {
	width: 100%;
}

}

#TourInfo{
	font-size: 16px;
}

#container-pictures h3{
	color: #111;
}

#container-pictures p{
	color: rgb(119, 119, 119);
	letter-spacing: 1px;
}
#nav-quotes li{
	text-align: center;
	letter-spacing: 1px;  
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 h3 {color: #fff;}

.bg-1 p {font-style: italic;}


.list-group-item:first-child {
    border-top-right-radius: 5;
    border-top-left-radius: 5;
    margin-top: 30px;
}
.list-group-item{
	color: #777;
}

.list-group-item:last-child {
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 5;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
 }

.thumbnail:hover{
	box-shadow: 4px 4px 3px #999;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

#album li{
	font-size: 16px;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
    font: 400 30px/1 Lato, sans-serif;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.modal-body{
	height: 400px;
	overflow: scroll;
	color: #111;
	text-align: center;
	font-size: 16px;

}

#Jan, #Feb, #Mar, #Apr, #May, #Jun, #Jul, #Aug, #Sep, #Oct, #Nov, #Dec{
	text-align: center;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}  

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: rgb(45, 45, 48);
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

html {
  scroll-behavior: smooth;
}

.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #555 !important;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}  

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

a{
	color: #fff;
}









/*
body{
	background-color: rgba(250, 249, 246,0.1);
}
p{
	color:rgb(54, 69, 79);
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#title{
	margin: 0
}

h1{
	color: rgb(66, 66, 66) ;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color:rgb(234, 237, 237)
}

#contents{
	line-height: 40px;
}

#contents a:link, a:visited{
	text-decoration: none;
}

#contents a:hover, a:active{
	text-decoration: underline;
	color: purple;
}
#album,#website{
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 40px;

}

#website a:link, a:visited{
	text-decoration: none;
	color: rgb(54, 69, 79) ;
	
}

#album a:link, a:visited{
	text-decoration: none;
	background-color: white;
	border: 1px solid white;
	color: rgb(54, 69, 79) ;
	
}

#website a:hover, a:active {
	text-decoration: underline;
	color: purple;
}
#album a:hover, a:active {
	text-decoration: underline;
	color: purple;
}

section h2{
	text-align: center;
	color: rgb(54, 69, 79);
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background-color:rgb(234, 237, 237)
}

h3{
	text-align: center;
	color: rgb(54, 69, 79);
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}


#Quotes p{
	font-style: italic; 
	font-weight: bold;
}


#title:hover, h2:hover{
	color: rgba(137, 207, 240,1);
}

.SongLyrics{
	border:1px solid rgba(128, 128, 128,0.5);
	height: 600px;
	margin:10px 100px 10px 100px;
	padding: 5px 100px 10px 100px;
	overflow-y: scroll;
	text-align:center;
	width: 60% center;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(31, 81, 255);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer; 
	color: white;
	font-size: 20px;
	transition-duration: 0.4s;
}

.float:hover{
	background-color:rgb(65, 105, 225);
	width:80px;
	height:80px;
	transition-duration: 0.4s;
}
/*

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(234, 237, 237 );
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/*
li a:hover,a:active {
  background-color: rgb(31, 81, 255);
  color: white;
}



