p{
	color:#200B06;
	text-align: center;
	font-size: 18px;
	font-family: Verdana, Arial, sans-serif;
}

h1{
	color: #200B06;
	text-align: center;
	font-weight: bold;
	border: double;
	padding: 20px;
	font-family: fantasy;
}

#contents{
	line-height: 40px;
}

#contents a:link, a:visited{
	text-decoration: none;
	color: #1F51FF  ;
}

#contents a:hover, a:active{
	text-decoration: underline;
	color: purple;
}
#album,#website{
	text-align: center;
	font-size: 18px;
	font-family: Verdana,Arial, sans-serif;
	line-height: 40px;

}

#website a:link, a:visited{
	text-decoration: none;
	color: 	#1F51FF ;
	
}

#album a:link, a:visited{
	text-decoration: none;
	background-color: white;
	border: 1px solid white;
	color: 	#1F51FF ;
	
}

#website a:hover, a:active {
	text-decoration: underline;
	color: purple;
}
#album a:hover, a:active {
	text-decoration: underline;
	color: purple;
}

section h2{
	text-align: center;
	color: #200B06;
	border: double;
	padding: 15px;
	font-family: fantasy;
	font-weight: bold;
}

h3{
	text-align: center;
	color: #200B06;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

#intro{
	font-style: italic;
}

#Quotes p{
	font-style: italic; 
	font-weight: bold;
}


